{% extends 'layout.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                {% for row in teams %}
                <a class="list-group-item list-group-item-action" href="./find?team_name={{ row }}&category=">{{ row }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9">
            <section>
                <h1 class="h3">{{ date_now }} の試合日程</h1>
                <p class="alert alert-warning">このWebサイトは旭川地区サッカー協会第3種委員会Webサイトからダウンロードしたデータを参考に構成されています。正確な情報は必ず<a class="alert-link" href="http://afa11.com/asahijy/" title="旭川地区サッカー協会第3種事業委員会">公式Webサイト</a>を確認してください。</p>
                {% if 0 < results_number %}
                <p class="alert alert-success">今日の試合日程は次のとおりです。</p>
                <table class="table table-striped table-bordered table-hover">
                    <caption class="text-right">最終更新日: {{ last_update }}</caption>
                    <thead>
                        <tr>
                            <th>カテゴリ</th>
                            <th>キックオフ</th>
                            <th>ホーム</th>
                            <th>アウェイ</th>
                            <th>会場</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in schedules %}
                        <tr>
                            <td>{{ row.category }}</td>
                            <td>{{ row.kickoff.strftime('%Y/%m/%d %a %H:%M') }}</td>
                            <td>{{ row.home_team }}</td>
                            <td>{{ row.away_team }}</td>
                            <td>{{ row.studium }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="alert alert-danger">今日の試合日程はありません。</p>
                {% endif %} 
            </section>
            <section>
                <h2 class="h3">試合日程を検索</h2>
                <form class="form mb-5" action="./find" method="GET">
                    <div class="form-group">
                        <label class="h5 text-secondary" for="team_name">チーム名を入力</label>
                        <input class="form-control form-control-lg" type="text" name="team_name" value="" placeholder="例）六合">
                    </div>
                    <div class="form-group">
                        <label class="h5 text-secondary" for="category">カテゴリを選択</label>
                        <select class="form-control form-control-lg" name="category">
                            {% for row in categories %}
                            <option value="{{ row }}">{{ row }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">検索</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
{% endblock %}
